--
-- PostgreSQL database dump
--

\restrict tQfYA6EfCNIuiadvPfv3GA0NSliba1HoXfC6LY3RjfVSrYNkDltOv2A2FFmt2zE

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: equipment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.equipment_status AS ENUM (
    'OPERATIONAL',
    'UNDER_REPAIR',
    'ARCHIVED'
);


ALTER TYPE public.equipment_status OWNER TO postgres;

--
-- Name: equipmentstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.equipmentstatus AS ENUM (
    'OPERATIONAL',
    'UNDER_REPAIR',
    'ARCHIVED'
);


ALTER TYPE public.equipmentstatus OWNER TO postgres;

--
-- Name: CAST (public.equipmentstatus AS character varying); Type: CAST; Schema: -; Owner: -
--

CREATE CAST (public.equipmentstatus AS character varying) WITH INOUT AS IMPLICIT;


--
-- Name: CAST (character varying AS public.equipmentstatus); Type: CAST; Schema: -; Owner: -
--

CREATE CAST (character varying AS public.equipmentstatus) WITH INOUT AS IMPLICIT;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alerts (
    id integer NOT NULL,
    equipment_id integer,
    work_order_id integer,
    meter_id integer,
    alert_type character varying(50),
    message text,
    status character varying(30) DEFAULT 'open'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.alerts OWNER TO postgres;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alerts_id_seq OWNER TO postgres;

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    user_id bigint,
    action_type character varying(100),
    entity_name character varying(100),
    entity_id bigint,
    action_details text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: claim_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.claim_photos (
    photo_id integer NOT NULL,
    claim_id integer,
    photo_url text
);


ALTER TABLE public.claim_photos OWNER TO postgres;

--
-- Name: claim_photos_photo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.claim_photos_photo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.claim_photos_photo_id_seq OWNER TO postgres;

--
-- Name: claim_photos_photo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.claim_photos_photo_id_seq OWNED BY public.claim_photos.photo_id;


--
-- Name: claim_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.claim_status_history (
    id integer NOT NULL,
    claim_id integer,
    old_status character varying(50),
    new_status character varying(50),
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reason character varying(255)
);


ALTER TABLE public.claim_status_history OWNER TO postgres;

--
-- Name: claim_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.claim_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.claim_status_history_id_seq OWNER TO postgres;

--
-- Name: claim_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.claim_status_history_id_seq OWNED BY public.claim_status_history.id;


--
-- Name: claims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.claims (
    claim_id integer NOT NULL,
    requester_id integer,
    equipment_id integer,
    description text,
    status character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.claims OWNER TO postgres;

--
-- Name: claims_claim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.claims_claim_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.claims_claim_id_seq OWNER TO postgres;

--
-- Name: claims_claim_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.claims_claim_id_seq OWNED BY public.claims.claim_id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    department_id bigint NOT NULL,
    department_name character varying(100) NOT NULL
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_department_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_department_id_seq OWNER TO postgres;

--
-- Name: departments_department_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_department_id_seq OWNED BY public.departments.department_id;


--
-- Name: equipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment (
    equipment_id bigint NOT NULL,
    name character varying(100),
    serial_number character varying(100),
    status character varying(50),
    location character varying(100),
    department_id bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.equipment OWNER TO postgres;

--
-- Name: equipment_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment_documents (
    id bigint NOT NULL,
    equipment_id bigint,
    document_name text,
    file_path text,
    content_type character varying(255),
    file_size bigint
);


ALTER TABLE public.equipment_documents OWNER TO postgres;

--
-- Name: equipment_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipment_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_documents_id_seq OWNER TO postgres;

--
-- Name: equipment_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipment_documents_id_seq OWNED BY public.equipment_documents.id;


--
-- Name: equipment_equipment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipment_equipment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_equipment_id_seq OWNER TO postgres;

--
-- Name: equipment_equipment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipment_equipment_id_seq OWNED BY public.equipment.equipment_id;


--
-- Name: equipment_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment_history (
    id bigint NOT NULL,
    equipment_id bigint,
    action text,
    performed_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.equipment_history OWNER TO postgres;

--
-- Name: equipment_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipment_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_history_id_seq OWNER TO postgres;

--
-- Name: equipment_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipment_history_id_seq OWNED BY public.equipment_history.id;


--
-- Name: failure_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.failure_logs (
    id integer NOT NULL,
    equipment_id integer,
    work_order_id integer,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.failure_logs OWNER TO postgres;

--
-- Name: failure_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.failure_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failure_logs_id_seq OWNER TO postgres;

--
-- Name: failure_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.failure_logs_id_seq OWNED BY public.failure_logs.id;


--
-- Name: labor_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.labor_logs (
    id integer NOT NULL,
    work_order_id integer,
    technician_id integer,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    hours_spent numeric(6,2),
    notes text
);


ALTER TABLE public.labor_logs OWNER TO postgres;

--
-- Name: labor_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.labor_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.labor_logs_id_seq OWNER TO postgres;

--
-- Name: labor_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.labor_logs_id_seq OWNED BY public.labor_logs.id;


--
-- Name: maintenance_costs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_costs (
    id integer NOT NULL,
    work_order_id integer,
    labor_cost numeric(12,2) DEFAULT 0,
    parts_cost numeric(12,2) DEFAULT 0,
    external_cost numeric(12,2) DEFAULT 0,
    total_cost numeric(12,2) GENERATED ALWAYS AS (((labor_cost + parts_cost) + external_cost)) STORED
);


ALTER TABLE public.maintenance_costs OWNER TO postgres;

--
-- Name: maintenance_costs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_costs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_costs_id_seq OWNER TO postgres;

--
-- Name: maintenance_costs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_costs_id_seq OWNED BY public.maintenance_costs.id;


--
-- Name: maintenance_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_plans (
    plan_id bigint NOT NULL,
    equipment_id bigint,
    frequency character varying(50),
    interval_unit character varying(255),
    interval_value integer,
    last_performed_at timestamp(6) without time zone,
    name character varying(255),
    next_due_at timestamp(6) without time zone,
    status character varying(255),
    technician_name character varying(255)
);


ALTER TABLE public.maintenance_plans OWNER TO postgres;

--
-- Name: maintenance_plans_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_plans_plan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_plans_plan_id_seq OWNER TO postgres;

--
-- Name: maintenance_plans_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_plans_plan_id_seq OWNED BY public.maintenance_plans.plan_id;


--
-- Name: meter_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meter_logs (
    log_id bigint NOT NULL,
    meter_id bigint,
    value double precision,
    recorded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.meter_logs OWNER TO postgres;

--
-- Name: meter_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.meter_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meter_logs_log_id_seq OWNER TO postgres;

--
-- Name: meter_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.meter_logs_log_id_seq OWNED BY public.meter_logs.log_id;


--
-- Name: meter_thresholds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meter_thresholds (
    id bigint NOT NULL,
    meter_id bigint,
    threshold_value double precision
);


ALTER TABLE public.meter_thresholds OWNER TO postgres;

--
-- Name: meter_thresholds_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.meter_thresholds_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meter_thresholds_id_seq OWNER TO postgres;

--
-- Name: meter_thresholds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.meter_thresholds_id_seq OWNED BY public.meter_thresholds.id;


--
-- Name: meters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meters (
    meter_id bigint NOT NULL,
    equipment_id bigint,
    value double precision,
    meter_type character varying(50),
    last_reading_at timestamp(6) without time zone,
    name character varying(255),
    unit character varying(255)
);


ALTER TABLE public.meters OWNER TO postgres;

--
-- Name: meters_meter_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.meters_meter_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meters_meter_id_seq OWNER TO postgres;

--
-- Name: meters_meter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.meters_meter_id_seq OWNED BY public.meters.meter_id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer,
    title character varying(150),
    message text,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: part_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.part_movements (
    id integer NOT NULL,
    part_id integer,
    quantity integer,
    movement_type character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.part_movements OWNER TO postgres;

--
-- Name: part_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.part_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.part_movements_id_seq OWNER TO postgres;

--
-- Name: part_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.part_movements_id_seq OWNED BY public.part_movements.id;


--
-- Name: parts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parts (
    part_id integer NOT NULL,
    name character varying(100),
    stock_quantity integer,
    min_stock integer,
    unit_cost numeric(10,2)
);


ALTER TABLE public.parts OWNER TO postgres;

--
-- Name: parts_part_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parts_part_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parts_part_id_seq OWNER TO postgres;

--
-- Name: parts_part_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parts_part_id_seq OWNED BY public.parts.part_id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id bigint NOT NULL,
    role_name character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_role_id_seq OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_role_id_seq OWNED BY public.roles.role_id;


--
-- Name: schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schedules (
    id integer NOT NULL,
    work_order_id integer,
    technician_id integer,
    planned_date date,
    start_time time without time zone,
    end_time time without time zone
);


ALTER TABLE public.schedules OWNER TO postgres;

--
-- Name: schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schedules_id_seq OWNER TO postgres;

--
-- Name: schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schedules_id_seq OWNED BY public.schedules.id;


--
-- Name: task_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_steps (
    id integer NOT NULL,
    task_id integer,
    step_name text,
    status character varying(50)
);


ALTER TABLE public.task_steps OWNER TO postgres;

--
-- Name: task_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.task_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_steps_id_seq OWNER TO postgres;

--
-- Name: task_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.task_steps_id_seq OWNED BY public.task_steps.id;


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    task_id integer NOT NULL,
    name character varying(100)
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: tasks_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tasks_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_task_id_seq OWNER TO postgres;

--
-- Name: tasks_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tasks_task_id_seq OWNED BY public.tasks.task_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id bigint NOT NULL,
    full_name character varying(100),
    email character varying(100),
    password_hash text,
    role_id bigint,
    department_id bigint,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: work_order_parts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_order_parts (
    id integer NOT NULL,
    work_order_id integer,
    part_id integer,
    quantity integer
);


ALTER TABLE public.work_order_parts OWNER TO postgres;

--
-- Name: work_order_parts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_order_parts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.work_order_parts_id_seq OWNER TO postgres;

--
-- Name: work_order_parts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_order_parts_id_seq OWNED BY public.work_order_parts.id;


--
-- Name: work_order_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_order_status_history (
    id integer NOT NULL,
    work_order_id integer,
    old_status character varying(50),
    new_status character varying(50),
    changed_by integer,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    comment text
);


ALTER TABLE public.work_order_status_history OWNER TO postgres;

--
-- Name: work_order_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_order_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.work_order_status_history_id_seq OWNER TO postgres;

--
-- Name: work_order_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_order_status_history_id_seq OWNED BY public.work_order_status_history.id;


--
-- Name: work_order_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_order_tasks (
    id integer NOT NULL,
    work_order_id integer,
    task_id integer,
    status character varying(50)
);


ALTER TABLE public.work_order_tasks OWNER TO postgres;

--
-- Name: work_order_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_order_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.work_order_tasks_id_seq OWNER TO postgres;

--
-- Name: work_order_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_order_tasks_id_seq OWNED BY public.work_order_tasks.id;


--
-- Name: work_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_orders (
    work_order_id integer NOT NULL,
    claim_id integer,
    technician_id integer,
    status character varying(50),
    priority character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estimated_time integer,
    actual_time integer,
    total_cost numeric,
    validated_by integer,
    validated_at timestamp without time zone
);


ALTER TABLE public.work_orders OWNER TO postgres;

--
-- Name: work_orders_work_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_orders_work_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.work_orders_work_order_id_seq OWNER TO postgres;

--
-- Name: work_orders_work_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_orders_work_order_id_seq OWNED BY public.work_orders.work_order_id;


--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: claim_photos photo_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_photos ALTER COLUMN photo_id SET DEFAULT nextval('public.claim_photos_photo_id_seq'::regclass);


--
-- Name: claim_status_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_status_history ALTER COLUMN id SET DEFAULT nextval('public.claim_status_history_id_seq'::regclass);


--
-- Name: claims claim_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claims ALTER COLUMN claim_id SET DEFAULT nextval('public.claims_claim_id_seq'::regclass);


--
-- Name: departments department_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN department_id SET DEFAULT nextval('public.departments_department_id_seq'::regclass);


--
-- Name: equipment equipment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment ALTER COLUMN equipment_id SET DEFAULT nextval('public.equipment_equipment_id_seq'::regclass);


--
-- Name: equipment_documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_documents ALTER COLUMN id SET DEFAULT nextval('public.equipment_documents_id_seq'::regclass);


--
-- Name: equipment_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_history ALTER COLUMN id SET DEFAULT nextval('public.equipment_history_id_seq'::regclass);


--
-- Name: failure_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failure_logs ALTER COLUMN id SET DEFAULT nextval('public.failure_logs_id_seq'::regclass);


--
-- Name: labor_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labor_logs ALTER COLUMN id SET DEFAULT nextval('public.labor_logs_id_seq'::regclass);


--
-- Name: maintenance_costs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_costs ALTER COLUMN id SET DEFAULT nextval('public.maintenance_costs_id_seq'::regclass);


--
-- Name: maintenance_plans plan_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_plans ALTER COLUMN plan_id SET DEFAULT nextval('public.maintenance_plans_plan_id_seq'::regclass);


--
-- Name: meter_logs log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meter_logs ALTER COLUMN log_id SET DEFAULT nextval('public.meter_logs_log_id_seq'::regclass);


--
-- Name: meter_thresholds id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meter_thresholds ALTER COLUMN id SET DEFAULT nextval('public.meter_thresholds_id_seq'::regclass);


--
-- Name: meters meter_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meters ALTER COLUMN meter_id SET DEFAULT nextval('public.meters_meter_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: part_movements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.part_movements ALTER COLUMN id SET DEFAULT nextval('public.part_movements_id_seq'::regclass);


--
-- Name: parts part_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parts ALTER COLUMN part_id SET DEFAULT nextval('public.parts_part_id_seq'::regclass);


--
-- Name: roles role_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN role_id SET DEFAULT nextval('public.roles_role_id_seq'::regclass);


--
-- Name: schedules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules ALTER COLUMN id SET DEFAULT nextval('public.schedules_id_seq'::regclass);


--
-- Name: task_steps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_steps ALTER COLUMN id SET DEFAULT nextval('public.task_steps_id_seq'::regclass);


--
-- Name: tasks task_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks ALTER COLUMN task_id SET DEFAULT nextval('public.tasks_task_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: work_order_parts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_parts ALTER COLUMN id SET DEFAULT nextval('public.work_order_parts_id_seq'::regclass);


--
-- Name: work_order_status_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_status_history ALTER COLUMN id SET DEFAULT nextval('public.work_order_status_history_id_seq'::regclass);


--
-- Name: work_order_tasks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_tasks ALTER COLUMN id SET DEFAULT nextval('public.work_order_tasks_id_seq'::regclass);


--
-- Name: work_orders work_order_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders ALTER COLUMN work_order_id SET DEFAULT nextval('public.work_orders_work_order_id_seq'::regclass);


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alerts (id, equipment_id, work_order_id, meter_id, alert_type, message, status, created_at) FROM stdin;
1	2	1	2	maintenance_due	X-Ray Machine has exceeded 95% of usage threshold.	open	2026-04-04 08:10:00
2	5	2	4	threshold_exceeded	Blood Analyzer meter exceeded threshold value.	open	2026-04-04 08:15:00
3	4	3	3	scheduled_service	Ventilator preventive service is scheduled soon.	closed	2026-04-04 08:20:00
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: claim_photos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.claim_photos (photo_id, claim_id, photo_url) FROM stdin;
1	1	https://example.com/photos/xray_overheat_1.jpg
3	6	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjbLBjnI2Oj22syh3lCjtvk7R4bvwPCKxRkw&s
4	1	string
\.


--
-- Data for Name: claim_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: claims; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (department_id, department_name) FROM stdin;
1	IT Department
2	CLEANING_STAFF
3	RADIOLOGY
4	LABORATORY
5	BIOMEDICAL
\.


--
-- Data for Name: equipment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.equipment (equipment_id, name, serial_number, status, location, department_id, created_at) FROM stdin;
1	MRI Scanner	MRI-2026-001	active	Radiology Room A	3	2026-04-01 09:00:00
2	X-Ray Machine	XR-2026-014	maintenance	Radiology Room B	3	2026-04-01 09:10:00
3	Ultrasound Unit	US-2026-008	active	Emergency Unit	1	2026-04-01 09:20:00
4	Ventilator	VEN-2026-022	active	ICU Ward	1	2026-04-01 09:30:00
5	Blood Analyzer	LAB-2026-031	inactive	Lab Room 2	4	2026-04-01 09:40:00
\.


--
-- Data for Name: equipment_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.equipment_documents (id, equipment_id, document_name, file_path, content_type, file_size) FROM stdin;
1	1	MRI Maintenance Manual.pdf	/docs/equipment/mri_manual.pdf	\N	\N
2	2	X-Ray Calibration Sheet.pdf	/docs/equipment/xray_calibration.pdf	\N	\N
3	4	Ventilator SOP.pdf	/docs/equipment/ventilator_sop.pdf	\N	\N
\.


--
-- Data for Name: equipment_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.equipment_history (id, equipment_id, action, performed_by, created_at) FROM stdin;
1	1	Equipment registered in system	4	2026-04-01 10:00:00
2	2	Marked for maintenance inspection	4	2026-04-02 11:15:00
3	5	Temporarily deactivated after abnormal readings	8	2026-04-02 13:40:00
\.


--
-- Data for Name: failure_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.failure_logs (id, equipment_id, work_order_id, description, created_at) FROM stdin;
1	2	1	Cooling system failed after 3 continuous hours of operation.	2026-04-02 10:45:00
2	5	2	Analyzer returned repeated calibration mismatch errors.	2026-04-02 12:20:00
3	2	1	eaeaze	2026-04-04 03:31:25.307441
\.


--
-- Data for Name: labor_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.labor_logs (id, work_order_id, technician_id, start_time, end_time, hours_spent, notes) FROM stdin;
1	2	6	2026-04-03 13:00:00	2026-04-03 15:00:00	2.00	Initial diagnostics and recalibration completed.
2	1	5	2026-04-04 03:26:00	2026-04-05 03:26:00	24.00	\N
\.


--
-- Data for Name: maintenance_costs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_costs (id, work_order_id, labor_cost, parts_cost, external_cost) FROM stdin;
1	1	120.00	45.00	0.00
2	2	160.00	100.00	0.00
3	3	90.00	0.00	0.00
\.


--
-- Data for Name: maintenance_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_plans (plan_id, equipment_id, frequency, interval_unit, interval_value, last_performed_at, name, next_due_at, status, technician_name) FROM stdin;
1	1	monthly	\N	\N	\N	\N	\N	\N	\N
2	2	weekly	\N	\N	\N	\N	\N	\N	\N
3	3	quarterly	\N	\N	\N	\N	\N	\N	\N
4	4	monthly	\N	\N	\N	\N	\N	\N	\N
5	5	weekly	\N	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: meter_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.meter_logs (log_id, meter_id, value, recorded_at) FROM stdin;
1	1	1180	2026-04-01 08:00:00
2	1	1240	2026-04-04 08:00:00
3	2	830	2026-04-01 08:00:00
4	2	860	2026-04-04 08:00:00
5	3	4000	2026-04-01 08:00:00
6	3	4200	2026-04-04 08:00:00
7	4	280	2026-04-01 08:00:00
8	4	310	2026-04-04 08:00:00
\.


--
-- Data for Name: meter_thresholds; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.meter_thresholds (id, meter_id, threshold_value) FROM stdin;
1	1	1500
2	2	900
3	3	5000
4	4	400
\.


--
-- Data for Name: meters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.meters (meter_id, equipment_id, value, meter_type, last_reading_at, name, unit) FROM stdin;
1	1	1240	hours	\N	\N	\N
2	2	860	hours	\N	\N	\N
3	4	4200	cycles	\N	\N	\N
4	5	310	hours	\N	\N	\N
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, title, message, is_read, created_at) FROM stdin;
1	4	New Work Order Assigned	A new work order #1 has been created and assigned.	f	2026-04-02 10:40:00
2	5	Scheduled Maintenance	You are scheduled for work order #1 on 2026-04-05.	f	2026-04-04 09:00:00
3	6	Calibration In Progress	Work order #2 requires calibration follow-up.	t	2026-04-03 14:00:00
4	8	Validation Required	Work order #2 is ready for final validation.	f	2026-04-03 15:30:00
\.


--
-- Data for Name: part_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.part_movements (id, part_id, quantity, movement_type, created_at) FROM stdin;
1	1	5	IN	2026-04-04 01:41:01.745535
2	2	10	IN	2026-04-02 09:00:00
3	3	5	IN	2026-04-02 09:10:00
4	4	15	IN	2026-04-02 09:20:00
5	5	8	IN	2026-04-02 09:30:00
6	2	1	OUT	2026-04-03 14:45:00
7	3	1	OUT	2026-04-03 15:10:00
8	4	10	IN	2026-04-04 03:17:44.984835
\.


--
-- Data for Name: parts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.parts (part_id, name, stock_quantity, min_stock, unit_cost) FROM stdin;
2	Cooling Fan	12	4	45.00
3	Circuit Board	6	2	180.00
5	Sensor Kit	9	3	75.00
1	bouji	15	6	20.00
4	Pressure Valve	30	8	32.50
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (role_id, role_name) FROM stdin;
1	ADMIN
2	FINANCE_MANAGER
3	MAINTENANCE_MANAGER
4	TECHNICIAN
5	HOSPITAL_STAFF
6	DOCTOR
7	SUPERVISOR
8	INVENTORY_MANAGER
\.


--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schedules (id, work_order_id, technician_id, planned_date, start_time, end_time) FROM stdin;
1	1	5	2026-04-05	09:00:00	13:00:00
2	2	6	2026-04-05	14:00:00	17:00:00
3	3	5	2026-04-06	10:00:00	12:00:00
\.


--
-- Data for Name: task_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_steps (id, task_id, step_name, status) FROM stdin;
1	1	Visual inspection of unit exterior	done
2	1	Check error logs	done
3	2	Remove damaged cooling fan	pending
4	3	Run system calibration routine	in_progress
5	4	Perform operational safety checks	pending
6	5	Manager approval	pending
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tasks (task_id, name) FROM stdin;
1	Initial Inspection
2	Replace Faulty Part
3	Calibration
4	Safety Test
5	Final Validation
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: work_order_parts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_order_parts (id, work_order_id, part_id, quantity) FROM stdin;
1	1	2	1
2	2	3	1
3	2	5	1
\.


--
-- Data for Name: work_order_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_order_status_history (id, work_order_id, old_status, new_status, changed_by, changed_at, comment) FROM stdin;
1	1	open	assigned	4	2026-04-02 10:35:00	Assigned to technician David Carter
2	2	open	in_progress	4	2026-04-02 12:05:00	Work started after diagnostics
3	2	in_progress	validated	8	2026-04-03 16:00:00	Repair and calibration verified
4	4	\N	CREATED	\N	2026-04-04 03:25:27.844951	Created from claim
8	1	ASSIGNED	CANCELLED	1	2026-04-04 03:30:48.55539	\N
\.


--
-- Data for Name: work_order_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_order_tasks (id, work_order_id, task_id, status) FROM stdin;
1	1	1	done
2	1	2	pending
3	1	4	pending
4	2	1	done
5	2	3	in_progress
6	2	5	pending
7	3	1	pending
\.


--
-- Data for Name: work_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_orders (work_order_id, claim_id, technician_id, status, priority, created_at, estimated_time, actual_time, total_cost, validated_by, validated_at) FROM stdin;
2	2	6	in_progress	medium	2026-04-02 12:00:00	6	2	260.00	8	2026-04-03 16:00:00
3	3	5	open	low	2026-04-03 10:30:00	3	\N	\N	\N	\N
4	6	\N	CREATED	\N	2026-04-04 03:25:27.821964	\N	\N	\N	\N	\N
1	1	5	CANCELLED	high	2026-04-02 10:30:00	4	24	\N	\N	\N
\.


--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alerts_id_seq', 3, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 238, true);


--
-- Name: claim_photos_photo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.claim_photos_photo_id_seq', 4, true);


--
-- Name: claim_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.claim_status_history_id_seq', 18, true);


--
-- Name: claims_claim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.claims_claim_id_seq', 9, true);


--
-- Name: departments_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_department_id_seq', 5, true);


--
-- Name: equipment_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.equipment_documents_id_seq', 3, true);


--
-- Name: equipment_equipment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.equipment_equipment_id_seq', 5, true);


--
-- Name: equipment_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.equipment_history_id_seq', 3, true);


--
-- Name: failure_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.failure_logs_id_seq', 3, true);


--
-- Name: labor_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.labor_logs_id_seq', 2, true);


--
-- Name: maintenance_costs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_costs_id_seq', 3, true);


--
-- Name: maintenance_plans_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_plans_plan_id_seq', 5, true);


--
-- Name: meter_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.meter_logs_log_id_seq', 8, true);


--
-- Name: meter_thresholds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.meter_thresholds_id_seq', 4, true);


--
-- Name: meters_meter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.meters_meter_id_seq', 4, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 4, true);


--
-- Name: part_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.part_movements_id_seq', 8, true);


--
-- Name: parts_part_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parts_part_id_seq', 5, true);


--
-- Name: roles_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_role_id_seq', 8, true);


--
-- Name: schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schedules_id_seq', 3, true);


--
-- Name: task_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_steps_id_seq', 6, true);


--
-- Name: tasks_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tasks_task_id_seq', 5, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 10, true);


--
-- Name: work_order_parts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.work_order_parts_id_seq', 3, true);


--
-- Name: work_order_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.work_order_status_history_id_seq', 8, true);


--
-- Name: work_order_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.work_order_tasks_id_seq', 7, true);


--
-- Name: work_orders_work_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.work_orders_work_order_id_seq', 4, true);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: claim_photos claim_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_photos
    ADD CONSTRAINT claim_photos_pkey PRIMARY KEY (photo_id);


--
-- Name: claim_status_history claim_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_status_history
    ADD CONSTRAINT claim_status_history_pkey PRIMARY KEY (id);


--
-- Name: claims claims_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claims
    ADD CONSTRAINT claims_pkey PRIMARY KEY (claim_id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (department_id);


--
-- Name: equipment_documents equipment_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_documents
    ADD CONSTRAINT equipment_documents_pkey PRIMARY KEY (id);


--
-- Name: equipment_history equipment_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_history
    ADD CONSTRAINT equipment_history_pkey PRIMARY KEY (id);


--
-- Name: equipment equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_pkey PRIMARY KEY (equipment_id);


--
-- Name: failure_logs failure_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failure_logs
    ADD CONSTRAINT failure_logs_pkey PRIMARY KEY (id);


--
-- Name: labor_logs labor_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labor_logs
    ADD CONSTRAINT labor_logs_pkey PRIMARY KEY (id);


--
-- Name: maintenance_costs maintenance_costs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_costs
    ADD CONSTRAINT maintenance_costs_pkey PRIMARY KEY (id);


--
-- Name: maintenance_plans maintenance_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_plans
    ADD CONSTRAINT maintenance_plans_pkey PRIMARY KEY (plan_id);


--
-- Name: meter_logs meter_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meter_logs
    ADD CONSTRAINT meter_logs_pkey PRIMARY KEY (log_id);


--
-- Name: meter_thresholds meter_thresholds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meter_thresholds
    ADD CONSTRAINT meter_thresholds_pkey PRIMARY KEY (id);


--
-- Name: meters meters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meters
    ADD CONSTRAINT meters_pkey PRIMARY KEY (meter_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: part_movements part_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.part_movements
    ADD CONSTRAINT part_movements_pkey PRIMARY KEY (id);


--
-- Name: parts parts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_pkey PRIMARY KEY (part_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: task_steps task_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_steps
    ADD CONSTRAINT task_steps_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (task_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: work_order_parts work_order_parts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_parts
    ADD CONSTRAINT work_order_parts_pkey PRIMARY KEY (id);


--
-- Name: work_order_status_history work_order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_status_history
    ADD CONSTRAINT work_order_status_history_pkey PRIMARY KEY (id);


--
-- Name: work_order_tasks work_order_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_tasks
    ADD CONSTRAINT work_order_tasks_pkey PRIMARY KEY (id);


--
-- Name: work_orders work_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_pkey PRIMARY KEY (work_order_id);


--
-- Name: alerts alerts_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: alerts alerts_meter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_meter_id_fkey FOREIGN KEY (meter_id) REFERENCES public.meters(meter_id);


--
-- Name: alerts alerts_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: claim_photos claim_photos_claim_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_photos
    ADD CONSTRAINT claim_photos_claim_id_fkey FOREIGN KEY (claim_id) REFERENCES public.claims(claim_id);


--
-- Name: claim_status_history claim_status_history_claim_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_status_history
    ADD CONSTRAINT claim_status_history_claim_id_fkey FOREIGN KEY (claim_id) REFERENCES public.claims(claim_id);


--
-- Name: claims claims_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claims
    ADD CONSTRAINT claims_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: claims claims_requester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claims
    ADD CONSTRAINT claims_requester_id_fkey FOREIGN KEY (requester_id) REFERENCES public.users(user_id);


--
-- Name: equipment equipment_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: equipment_documents equipment_documents_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_documents
    ADD CONSTRAINT equipment_documents_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: equipment_history equipment_history_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_history
    ADD CONSTRAINT equipment_history_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: failure_logs failure_logs_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failure_logs
    ADD CONSTRAINT failure_logs_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: failure_logs failure_logs_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failure_logs
    ADD CONSTRAINT failure_logs_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: equipment_history fk_equipment_history_performed_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment_history
    ADD CONSTRAINT fk_equipment_history_performed_by FOREIGN KEY (performed_by) REFERENCES public.users(user_id);


--
-- Name: work_orders fk_work_orders_validated_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT fk_work_orders_validated_by FOREIGN KEY (validated_by) REFERENCES public.users(user_id);


--
-- Name: labor_logs labor_logs_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labor_logs
    ADD CONSTRAINT labor_logs_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.users(user_id);


--
-- Name: labor_logs labor_logs_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.labor_logs
    ADD CONSTRAINT labor_logs_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: maintenance_costs maintenance_costs_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_costs
    ADD CONSTRAINT maintenance_costs_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: maintenance_plans maintenance_plans_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_plans
    ADD CONSTRAINT maintenance_plans_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: meter_logs meter_logs_meter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meter_logs
    ADD CONSTRAINT meter_logs_meter_id_fkey FOREIGN KEY (meter_id) REFERENCES public.meters(meter_id);


--
-- Name: meter_thresholds meter_thresholds_meter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meter_thresholds
    ADD CONSTRAINT meter_thresholds_meter_id_fkey FOREIGN KEY (meter_id) REFERENCES public.meters(meter_id);


--
-- Name: meters meters_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meters
    ADD CONSTRAINT meters_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: part_movements part_movements_part_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.part_movements
    ADD CONSTRAINT part_movements_part_id_fkey FOREIGN KEY (part_id) REFERENCES public.parts(part_id);


--
-- Name: schedules schedules_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.users(user_id);


--
-- Name: schedules schedules_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: task_steps task_steps_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_steps
    ADD CONSTRAINT task_steps_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(task_id);


--
-- Name: users users_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(role_id);


--
-- Name: work_order_parts work_order_parts_part_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_parts
    ADD CONSTRAINT work_order_parts_part_id_fkey FOREIGN KEY (part_id) REFERENCES public.parts(part_id);


--
-- Name: work_order_parts work_order_parts_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_parts
    ADD CONSTRAINT work_order_parts_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: work_order_status_history work_order_status_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_status_history
    ADD CONSTRAINT work_order_status_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(user_id);


--
-- Name: work_order_status_history work_order_status_history_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_status_history
    ADD CONSTRAINT work_order_status_history_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: work_order_tasks work_order_tasks_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_tasks
    ADD CONSTRAINT work_order_tasks_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(task_id);


--
-- Name: work_order_tasks work_order_tasks_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_order_tasks
    ADD CONSTRAINT work_order_tasks_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(work_order_id);


--
-- Name: work_orders work_orders_claim_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_claim_id_fkey FOREIGN KEY (claim_id) REFERENCES public.claims(claim_id);


--
-- Name: work_orders work_orders_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict tQfYA6EfCNIuiadvPfv3GA0NSliba1HoXfC6LY3RjfVSrYNkDltOv2A2FFmt2zE

